<%= render "devise/shared/auth_module_header", title: "Sign up" %>

<% resource.skip_field_error_wrapper = true %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui large form"}) do |f| %>
  <div class="ui stacked segment">
    <%= devise_error_messages! %>

    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <%= f.email_field :email, autofocus: true, placeholder: "email" %>
      </div>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= f.password_field :password, autocomplete: "off", placeholder: @minimum_password_length ? "password (#{@minimum_password_length} characters minimum)" : "password" %>
      </div>
    </div>

    <%= f.submit "Log in", class: "ui fluid large teal submit button" %>
  </div>
<% end %>

<div class="ui message">
  <%= render "devise/shared/links" %>
</div>
